

#           Copyright Nathaniel Christen 2020.
#  Distributed under the Boost Software License, Version 1.0.
#     (See accompanying file LICENSE_1_0.txt or copy at
#           http://www.boost.org/LICENSE_1_0.txt)


stash/
cpp/src/qt-reprozip/bin/*
cpp/src/qt-reprozip/export/*
cpp/qmake-console/targets/*

extra/facs/bridge/bridge-console/build/*
extra/facs/dest/*
extra/facs/dest-qtc/*
extra/facs/dest_qtc/*
extra/facs/build/*
extra/facs/cytolib/build/*
extra/facs/cytolib/armadillo/*
extra/facs/cytolib/qtc/*
extra/facs/cytolib/build-*
extra/facs/bridge/build/*

*.fcs

*.zip
*.gz
*.aux
*.log

# note: ordinarily from any folder in 
# cpp/qmake-console/projects the repo 
# should only commit certain *.sh files.
# Add more exceptions as necessary. 
# Also caution about inadvertantly 
# including extensionlesss files.
cpp/qmake-console/projects/**/*.*
cpp/qmake-console/projects/**/Makefile
!cpp/qmake-console/projects/**/qm.sh
!cpp/qmake-console/projects/**/mk.sh
!cpp/qmake-console/projects/**/run.sh

!cpp/src/qt-reprozip/bin/readme
!cpp/src/qt-reprozip/export/readme
data/wcm/dbs/*
!data/wcm/dbs/readme
build-*
!build-proset.pri
!build-group.pri
!build-kernel.pri
!build-root.pri
!build-root-both.pri
!build-all.pro
!build-quick.pro
!build-most.pro
!build-first.pro
!build-custom.pro
!build-order.txt
targets
Contents
*.pro.user
*.err.txt
*.gen.txt
screenshots
*.rz.*



